Comparación de las dos bibliotecas para el sensor BME680/Flujo Node-RED. Recopilación de datos de las dos placas.json
[{"id":"af5beffc.7d68b","type":"tab","label":"BME680_BSEC","disabled":false,"info":""},{"id":"e7b66301.9bc","type":"inject","z":"af5beffc.7d68b","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["2aacadc0.b65472"]]},{"id":"2aacadc0.b65472","type":"mqtt out","z":"af5beffc.7d68b","name":"","topic":"/B4E62DFB24D5/jsonReq","qos":"","retain":"","broker":"b20d4f92.46248","x":410,"y":40,"wires":[]},{"id":"ea69484e.fd5798","type":"mqtt in","z":"af5beffc.7d68b","name":"","topic":"/B4E62DFB24D5/json","qos":"2","datatype":"utf8","broker":"b20d4f92.46248","x":120,"y":120,"wires":[["d22333e6.7976e"]]},{"id":"d22333e6.7976e","type":"json","z":"af5beffc.7d68b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":120,"wires":[["8cc7c759.1891b8"]]},{"id":"8cc7c759.1891b8","type":"influxdb out","z":"af5beffc.7d68b","influxdb":"561d76c4.2f21b8","name":"","measurement":"m26_bme680_bsec","precision":"","retentionPolicy":"","x":710,"y":120,"wires":[]},{"id":"e75a0fb5.60b62","type":"inject","z":"af5beffc.7d68b","name":"","topic":"","payload":"","payloadType":"date","repeat":"4","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":260,"wires":[["a716e2fd.722f3"]]},{"id":"a716e2fd.722f3","type":"mqtt out","z":"af5beffc.7d68b","name":"","topic":"/246F28AB2E40/jsonReq","qos":"","retain":"","broker":"b20d4f92.46248","x":430,"y":260,"wires":[]},{"id":"ba1c2bf4.e7b138","type":"mqtt in","z":"af5beffc.7d68b","name":"","topic":"/246F28AB2E40/json","qos":"2","datatype":"utf8","broker":"b20d4f92.46248","x":140,"y":320,"wires":[["e718aff4.3db7f"]]},{"id":"e718aff4.3db7f","type":"json","z":"af5beffc.7d68b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":320,"wires":[["ef951f65.33d69"]]},{"id":"ef951f65.33d69","type":"influxdb out","z":"af5beffc.7d68b","influxdb":"561d76c4.2f21b8","name":"","measurement":"m26_bme680_iot02_iaq","precision":"","retentionPolicy":"","x":660,"y":320,"wires":[]},{"id":"b20d4f92.46248","type":"mqtt-broker","z":"","name":"","broker":"iot.siarq.net","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"561d76c4.2f21b8","type":"influxdb","z":"","hostname":"vps656540.ovh.net","port":"8086","protocol":"http","database":"aulaVirtual2020","name":"","usetls":false,"tls":""}]