Aplicacion Bot de Telegram LoRAirQ/Flujo Node-RED. Aplicación Bot Telegram LoRAirQ.json
[{"id":"7d607c39.5493f4","type":"tab","label":"LoRaWAN - TTN","disabled":false,"info":""},{"id":"abfc6ed0.92cf9","type":"mqtt in","z":"7d607c39.5493f4","name":"","topic":"iot-02/devices/iot-02-09/up","qos":"2","datatype":"auto","broker":"a5f10f94.4792f","x":130,"y":140,"wires":[["f136797e.2ada98"]]},{"id":"f136797e.2ada98","type":"json","z":"7d607c39.5493f4","name":"","property":"payload","action":"","pretty":false,"x":330,"y":140,"wires":[["3dc9b2b3.e2d50e"]]},{"id":"3dc9b2b3.e2d50e","type":"function","z":"7d607c39.5493f4","name":"Convert payload_raw","func":"var a = new Buffer(msg.payload.payload_raw, 'base64')\nmsg.payload = a.toString('hex');\n//var b = new Buffer(msg.payload, 'hex')\n//msg.payload = b.toString('utf8');\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["b2110ca0.8ec86"]]},{"id":"3a4eaf81.fece4","type":"debug","z":"7d607c39.5493f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":260,"wires":[]},{"id":"306e5b9b.db87b4","type":"inject","z":"7d607c39.5493f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":260,"wires":[["d1f0e14a.3ea65"]]},{"id":"b2110ca0.8ec86","type":"function","z":"7d607c39.5493f4","name":"Extract data --> JSON","func":"var json00 = {};\n\nvar T = msg.payload.split(' ')[0].substr(0,4);\nvar P = msg.payload.split(' ')[0].substr(4,4);\nvar RH = msg.payload.split(' ')[0].substr(8,4);\nvar GAS = msg.payload.split(' ')[0].substr(12,4);\nvar IAQ = msg.payload.split(' ')[0].substr(16,4);\n\njson00.T = parseInt(\"0x\"+T)/10.0;\njson00.P = parseInt(\"0x\"+P)/10.0;\njson00.RH = parseInt(\"0x\"+RH)/10.0;\njson00.G = parseInt(\"0x\"+GAS);\njson00.IAQ = parseInt(\"0x\"+IAQ);\n\nmsg.payload = json00;\n\nreturn msg;\n","outputs":1,"noerr":0,"x":740,"y":140,"wires":[["29991600.428cda","ae7fafa1.86fc1"]]},{"id":"29991600.428cda","type":"debug","z":"7d607c39.5493f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":970,"y":40,"wires":[]},{"id":"ae7fafa1.86fc1","type":"influxdb out","z":"7d607c39.5493f4","influxdb":"561d76c4.2f21b8","name":"","measurement":"m26_IAQ_LORAWAN","precision":"","retentionPolicy":"","x":1120,"y":140,"wires":[]},{"id":"d1f0e14a.3ea65","type":"function","z":"7d607c39.5493f4","name":"Query select all","func":"msg.query=\"Select * from m26_IAQ_LORAWAN ORDER BY time DESC LIMIT 1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":260,"wires":[["6c102913.21e888"]]},{"id":"6c102913.21e888","type":"influxdb in","z":"7d607c39.5493f4","influxdb":"561d76c4.2f21b8","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":620,"y":260,"wires":[["3a4eaf81.fece4","ef0a2a41.ef0438"]]},{"id":"ef0a2a41.ef0438","type":"function","z":"7d607c39.5493f4","name":"Get time","func":"var time = msg.payload[0].time;\nvar day = time.getDate();\nvar month = time.getMonth() + 1 ;\nvar year = time.getFullYear();\nvar hour = time.getHours();\nvar minute = time.getMinutes();\nvar d =new Date()\nvar now=d.getTime();\n\nvar falta = 10 - (now - time)/60000;\n\n\n\n\n//var year = msg.payload[1].time.split(' ')[0].substr(0,4);\n//var month = time.split(' ')[0].substr(5,2);\n//var day = time.split(' ')[0].substr(8,2);\n//var hhmm = time.split(' ')[0].substr(10,5);\n\nmsg.payload =\"Última medición: \"+ day + \"/\" + month + \"/\" + year + \" \" + hour + \":\" + minute + \". La siguiente medición se hará en \" + parseInt(falta) + \" minutos\" ;\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["bdecc971.36ac18"]]},{"id":"bdecc971.36ac18","type":"debug","z":"7d607c39.5493f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":360,"wires":[]},{"id":"93b4c4db.9a46a8","type":"function","z":"7d607c39.5493f4","name":"Introduction to the Bot","func":"var chatId=msg.payload.chatId;\n\nvar text=\"Hello, my name is LoRAirQ and I'm here to analyse the air quality of a room 🏠.\" + \" \\n\" + \" \\n\";\nvar text1=\"📝I can give you information of the room where you placed me: the temperature, the humidity, the pressure, Volatile Organic Compounds (VOC) and Air quality Index (IAQ).\"+ \" \\n\" + \" \\n\";\nvar text2=\"📲You only need to write /iaq to consult the last measure performed. I measure the room every 10 minutes 🕑.\"+ \" \\n\" + \" \\n\";\nvar text3=\"❕️VOC value and IAQ are important parameters because they can inform you if the air of the room is Good✅-Moderate 🟠 or unhealthy  ☣️ and if ventilation is needed.\"+ \" \\n\"+ \" \\n\";\nvar text4=\"💡Note: Nowadays ventilation 💨 is essential in order to avoid spreading/lessen the risk of contagious of Covid19 🦠.\" ;\n\nmsg1={};\nmsg1.payload = {\n    \"content\": text + text1 + text2 + text3+text4, \n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["163f9f4a.4e20a1"]]},{"id":"213932fa.4aa8ae","type":"telegram command","z":"7d607c39.5493f4","name":"instructions","command":"/instructions","bot":"6b58a322.a8a9dc","strict":false,"hasresponse":true,"x":100,"y":460,"wires":[["93b4c4db.9a46a8"],[]]},{"id":"163f9f4a.4e20a1","type":"telegram sender","z":"7d607c39.5493f4","name":"","bot":"6b58a322.a8a9dc","x":520,"y":480,"wires":[[]]},{"id":"69c208be.1fbb08","type":"telegram command","z":"7d607c39.5493f4","name":"start","command":"/start","bot":"6b58a322.a8a9dc","strict":false,"hasresponse":true,"x":90,"y":520,"wires":[["93b4c4db.9a46a8"],[]]},{"id":"bd0ef8a0.8aa418","type":"telegram command","z":"7d607c39.5493f4","name":"IAQ","command":"/iaq","bot":"6b58a322.a8a9dc","strict":false,"hasresponse":true,"x":90,"y":620,"wires":[["25d8ecf9.b68924"],[]]},{"id":"792b972a.2acd38","type":"function","z":"7d607c39.5493f4","name":"Query select all","func":"msg.query=\"Select * from m26_IAQ_LORAWAN ORDER BY time DESC LIMIT 1\";\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":720,"wires":[["1bf8ed82.fa2ab2"]]},{"id":"1bf8ed82.fa2ab2","type":"influxdb in","z":"7d607c39.5493f4","influxdb":"561d76c4.2f21b8","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":720,"y":720,"wires":[["1b320af4.a75055"]]},{"id":"1b320af4.a75055","type":"function","z":"7d607c39.5493f4","name":"Get time and parameters","func":"var time = msg.payload[0].time;\nvar day = time.getDate();\nvar month = time.getMonth() + 1 ;\nvar year = time.getFullYear();\nvar hour = time.getHours();\nvar minute = time.getMinutes();\nvar d =new Date()\nvar now=d.getTime();\nvar falta = 10 - (now - time)/60000;\n\nvar Tamb = msg.payload[0].T;\nvar RH = msg.payload[0].RH;\nvar P = msg.payload[0].P;\nvar Gr = msg.payload[0].G;\nvar IAQ = msg.payload[0].IAQ;\n\nflow.set(\"IAQ\",IAQ);\n\nif (minute<10){\n    //text =\"Última medición: \"+ day + \"/\" + month + \"/\" + year + \" \" + hour + \":\" + minute +\".\" + \" \\n\" + \"La siguiente medición se hará en \" + parseInt(falta) + \" minutos\"+ \" \\n\" + \" \\n\" ;\n    text =\"Last measure: \"+ day + \"/\" + month + \"/\" + year + \" \" + hour + \":0\" + minute +\".\" + \" \\n\" ;\n}\nelse {\n    text =\"Last measure: \"+ day + \"/\" + month + \"/\" + year + \" \" + hour + \":\" + minute +\".\" + \" \\n\" ;\n}\n\n\ntext1=\"Next measure will be perfomed in \" + parseInt(falta) + \" minutes.\"+ \" \\n\" + \" \\n\" \ntext2=\"🌡Temperature of the room: \" + Tamb + \" ºC\"+ \" \\n\" + \" \\n\";\ntext3=\"💧 Humidity of your breath: \" + RH + \" %\"+ \" \\n\" + \" \\n\";\ntext4=\"🌫Pressure: \" + P + \" hPa\"+ \" \\n\" + \" \\n\";\ntext5=\"💨 Volatile organic compounds: \" + Gr + \" KOhms\"+ \" \\n\" + \" \\n\";\ntext6=\"📶 Air Quality: \" + IAQ + \" \\n\" + \" \\n\";\n\nif (IAQ < 50)\n{\n    text6=\"The air quality is ✅  GOOD. NO ventilation is needed.\";  \n}\n    \nelse if ((IAQ >51) & (IAQ<150)){\n    text7=\"The air quality is 🟠 MODERATE. You can get better air quality by ventilating the room.\";\n}\nelse if(IAQ > 151){\n    text7=\"‼️THE AIR QUALITY IS  ☣ UNHEALTHY!!\"+ \" \\n\" +\"I RECOMMEND THAT NO ONE SHOULD BE INSIDE THE ROOM 🚷. \"+ \" \\n\" +\"YOU NEED TO OPEN THE WINDOWS AND WAIT UNTIL THE IAQ IS GOOD OR MODERATE.\";\n}\n\nvar chatId=flow.get(\"chatId\");\nmsg1={};\nmsg1.payload = {\n    \"content\": text + text1 + text2 + text3 + text4 + text5 + text6 + text7, \n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nmsg2={};\nmsg2.payload = {\n    \"content\":text + \"❗️The device is not available right now. Please, try to consult again later.\" + \"\\n\" + \"NOTE: Check if the power supply is connected to the device or if the antenna is in a vertical position.\", \n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nflow.set(\"consult\",false);\n\nif (falta >= 0){\n    return msg1;\n}\nelse if (falta < 0){\n    return msg2;\n}\n\n","outputs":1,"noerr":0,"x":1030,"y":720,"wires":[["de94c09f.9b8d1"]]},{"id":"de94c09f.9b8d1","type":"telegram sender","z":"7d607c39.5493f4","name":"","bot":"6b58a322.a8a9dc","x":1280,"y":720,"wires":[[]]},{"id":"25d8ecf9.b68924","type":"function","z":"7d607c39.5493f4","name":"Consult true/false","func":"flow.set(\"consult\",true);\nflow.set(\"chatId\",msg.payload.chatId);\n","outputs":1,"noerr":0,"x":290,"y":620,"wires":[[]]},{"id":"78e07fe4.49a23","type":"inject","z":"7d607c39.5493f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":720,"wires":[["b4dd46f7.ca92d8"]]},{"id":"b4dd46f7.ca92d8","type":"switch","z":"7d607c39.5493f4","name":"Consult","property":"consult","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":300,"y":720,"wires":[["792b972a.2acd38"]]},{"id":"a5f10f94.4792f","type":"mqtt-broker","z":"","name":"TTN - IoT-02","broker":"eu.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"561d76c4.2f21b8","type":"influxdb","z":"","hostname":"vps656540.ovh.net","port":"8086","protocol":"http","database":"aulaVirtual2020","name":"","usetls":false,"tls":""},{"id":"6b58a322.a8a9dc","type":"telegram bot","z":"","botname":"@LoRAirQ_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]