Aplicación Bot de Telegram AirQuality_BME680/Flujo de Node-RED. Aplicación Bot Telegram AirQuality_BME680.json
[{"id":"d02ccc4f.07aaf","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5d49b4c.f22b54c","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/json","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":110,"y":420,"wires":[["83e1409.fff5cc","c0d40a39.25e588"]]},{"id":"d973a3df.63e26","type":"influxdb out","z":"d02ccc4f.07aaf","influxdb":"561d76c4.2f21b8","name":"","measurement":"","precision":"","retentionPolicy":"","x":840,"y":420,"wires":[]},{"id":"c0d40a39.25e588","type":"json","z":"d02ccc4f.07aaf","name":"","property":"payload","action":"","pretty":false,"x":380,"y":560,"wires":[["5bb0d284.d33e2c"]]},{"id":"5bb0d284.d33e2c","type":"function","z":"d02ccc4f.07aaf","name":"[fTbody,fTamb,fRH,fP,fA,nGr]","func":"var fT = {payload: msg.payload.T};\nvar fRH = {payload: msg.payload.RH};\nvar fP = {payload: msg.payload.P};\nvar fAIQ = {payload: msg.payload.AIQ};\nvar nG = {payload: msg.payload.Gr};\n\nreturn [fT,fRH,fP,fAIQ,nG];","outputs":5,"noerr":0,"x":610,"y":560,"wires":[["214e3fe.eda91c"],["cba53501.d39b88"],["d3565835.fc7dc8"],["7c2cc763.ebf558"],["374677bb.4e0938"]]},{"id":"7c2cc763.ebf558","type":"ui_chart","z":"d02ccc4f.07aaf","name":"","group":"50180e58.c63fb","order":0,"width":0,"height":0,"label":"AIQ","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":620,"wires":[[]]},{"id":"374677bb.4e0938","type":"ui_gauge","z":"d02ccc4f.07aaf","name":"","group":"57d1a014.25301","order":4,"width":0,"height":0,"gtype":"donut","title":"VOC","label":"KOhms","format":"{{value}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":860,"y":660,"wires":[]},{"id":"cba53501.d39b88","type":"ui_gauge","z":"d02ccc4f.07aaf","name":"","group":"57d1a014.25301","order":3,"width":0,"height":0,"gtype":"wave","title":"Humedad relativa","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":900,"y":540,"wires":[]},{"id":"214e3fe.eda91c","type":"ui_chart","z":"d02ccc4f.07aaf","name":"","group":"57d1a014.25301","order":2,"width":0,"height":0,"label":"Temperatura aliento","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":910,"y":500,"wires":[[]]},{"id":"d3565835.fc7dc8","type":"ui_chart","z":"d02ccc4f.07aaf","name":"","group":"50180e58.c63fb","order":1,"width":0,"height":0,"label":"Presión","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":870,"y":580,"wires":[[]]},{"id":"c9d0b1c0.0ee06","type":"switch","z":"d02ccc4f.07aaf","name":"","property":"payload.Gr","propertyType":"msg","rules":[{"t":"neq","v":"0.00","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":430,"y":420,"wires":[["3fecf5e0.a84e2a"]]},{"id":"83e1409.fff5cc","type":"json","z":"d02ccc4f.07aaf","name":"","property":"payload","action":"","pretty":false,"x":290,"y":420,"wires":[["c9d0b1c0.0ee06"]]},{"id":"f6554ea3.7d754","type":"influxdb in","z":"d02ccc4f.07aaf","influxdb":"561d76c4.2f21b8","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":720,"y":720,"wires":[["e5696e7a.6a4a6","c6f9545c.70c948"]]},{"id":"1eb78fdf.55b6a","type":"function","z":"d02ccc4f.07aaf","name":"Query select all","func":"var name=flow.get(\"name\");\nmsg.query=\"Select * from m26_AIQBME680_\"+name;\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["f6554ea3.7d754"]]},{"id":"c6f9545c.70c948","type":"ui_template","z":"d02ccc4f.07aaf","group":"d6abe9a2.eddc48","name":"Measurements","order":2,"width":0,"height":0,"format":"<style>\ntable\n{\n    background:lightblue;\n}\n.main\n{\n\n\n    height:100px;\n}\n</style>\n<div class=\"main\">\n<table style=\"width:100%\">\n  <tr>\n    <th>Time</th>\n    <th>Tamb</th>\n    <th>RH</th>\n    <th>P</th>\n    <th>GR</th>\n    <th>AIQ</th>\n\n  \n  </tr>\n  <tr ng-repeat=\"x in msg.payload | limitTo:1000\">\n    <td>{{msg.payload[$index].time}}</td>\n    <td>{{msg.payload[$index].Tbody}}</td>\n    <td>{{msg.payload[$index].Tamb}}</td>\n    <td>{{msg.payload[$index].RH}}</td>\n    <td>{{msg.payload[$index].P}}</td>\n    <td>{{msg.payload[$index].Gr}}</td>\n    <td>{{msg.payload[$index].A}}</td>\n   \n\n  </tr>\n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1080,"y":720,"wires":[[]]},{"id":"e5696e7a.6a4a6","type":"function","z":"d02ccc4f.07aaf","name":"Mean value","func":"var l = msg.payload.length;\nvar T_sum= 0.0;\nvar RH_sum = 0.0;\nvar P_sum = 0.0;\nvar Gr_sum = 0.0;\nvar AIQ_sum = 0.0;\nvar i;\n\nvar T_mean = 0.0;\nvar RH_mean = 0.0;\nvar P_mean = 0.0;\nvar Gr_mean = 0.0;\nvar AIQ_mean = 0.0;\n\nfor (i=0; i < l; i++) {\n    T_sum = T_sum + parseFloat(msg.payload[i].T);\n    RH_sum = RH_sum + parseFloat(msg.payload[i].RH);\n    P_sum = P_sum + parseFloat(msg.payload[i].P);\n    Gr_sum = Gr_sum + parseFloat(msg.payload[i].Gr);\n    AIQ_sum = AIQ_sum + parseFloat(msg.payload[i].AIQ);\n}\n\nvar m_out = [T_sum/l,RH_sum/l,P_sum/l,Gr_sum/l,AIQ_sum/l];\nmsg1={};\nmsg1.payload = m_out;\n\n\nT_mean = (T_sum)/l;\nflow.set(\"T_mean\", T_mean.toFixed(1));\n\nRH_mean = (RH_sum)/l;\nflow.set(\"RH_mean\", RH_mean.toFixed(1));\n\nP_mean = (P_sum)/l;\nflow.set(\"P_mean\", P_mean.toFixed(1));\n\nGr_mean = (Gr_sum)/l;\nflow.set(\"Gr_mean\", Gr_mean.toFixed(1));\n\nAIQ_mean = (AIQ_sum)/l;\nflow.set(\"AIQ_mean\", AIQ_mean.toFixed(1));\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":1090,"y":780,"wires":[["3d6ef49c.5264fc"]]},{"id":"3d6ef49c.5264fc","type":"ui_template","z":"d02ccc4f.07aaf","group":"d6abe9a2.eddc48","name":"Mean value","order":1,"width":0,"height":0,"format":"<style>\ntable\n{\n    background:lightblue;\n}\n.main\n{\n\n\n    height:50px;\n}\n</style>\n<div class=\"main\">\n<table style=\"width:100%\">\n  <tr>\n    <th>Tamb</th>\n    <th>RH</th>\n    <th>P</th>\n    <th>GR</th>\n    <th>AIQ</th>\n  </tr>\n  <tr>\n    <td>{{msg.payload[0].toFixed(1)}}</td>\n    <td>{{msg.payload[1].toFixed(1)}}</td>\n    <td>{{msg.payload[2].toFixed(1)}}</td>\n    <td>{{msg.payload[3].toFixed(1)}}</td>\n    <td>{{msg.payload[4].toFixed(1)}}</td>\n  </tr>\n  \n</table>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":1270,"y":780,"wires":[[]]},{"id":"753d17bb.b2bb08","type":"telegram command","z":"d02ccc4f.07aaf","name":"","command":"/measure","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":80,"y":240,"wires":[["1d3bb54b.2e5bcb"],[]]},{"id":"cd23350b.14c0f8","type":"telegram sender","z":"d02ccc4f.07aaf","name":"Show Results","bot":"7c9793f4.cbd72c","x":520,"y":980,"wires":[[]]},{"id":"1d3bb54b.2e5bcb","type":"function","z":"d02ccc4f.07aaf","name":"Name","func":"flow.set(\"measure\",true);\nflow.set(\"chatId\",msg.payload.chatId);\nlet name = msg.payload.content.split(' ')[1].substr(0,10)\nflow.set(\"name\",name);\n\nvar text= \"Please, wait while the sensor is measuring the air of the room.\"+ \" \\n\"+ \" \\n\";\nvar text1= \"The measurements will be carried out as long as you want.🕹\" + \" \\n\"+ \" \\n\";\nvar text2= \"When you decide to finish, write /end\";\n\nmsg1={};\nmsg1.payload = {\n    \"content\": text+text1+text2, \n    \"type\" : \"message\",\n    \"chatId\" : msg.payload.chatId,\n}\n\nreturn msg1;","outputs":2,"noerr":0,"x":250,"y":240,"wires":[["7de72c8f.6de9d4"],["7de72c8f.6de9d4"]]},{"id":"3fecf5e0.a84e2a","type":"function","z":"d02ccc4f.07aaf","name":"set name","func":"var name=flow.get(\"name\");\nmsg.measurement=\"m26_AIQBME680_\"+ name;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":420,"wires":[["d973a3df.63e26"]]},{"id":"901da566.05cb78","type":"function","z":"d02ccc4f.07aaf","name":"Initialization","func":"flow.set(\"measure\",false);\nflow.set(\"name\",\"\");\nflow.set(\"temp_subs\",false);\nflow.set(\"pressure_subs\",false);\nflow.set(\"humidity_subs\",false);\nflow.set(\"gas_subs\",false);\nflow.set(\"aiq_subs\",false);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":40,"wires":[[]]},{"id":"15fb4374.fe8cdd","type":"inject","z":"d02ccc4f.07aaf","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":40,"wires":[["901da566.05cb78"]]},{"id":"778d45e5.6034bc","type":"function","z":"d02ccc4f.07aaf","name":"Measure ON","func":"var on=flow.get(\"measure\");\nif(on===true){\n msg.payload=1;\n return msg;   \n}\n","outputs":1,"noerr":0,"x":290,"y":340,"wires":[["83c39cda.797df"]]},{"id":"3cd563c8.5d66bc","type":"telegram command","z":"d02ccc4f.07aaf","name":"","command":"/end","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":780,"wires":[["25f73364.48a2fc"],[]]},{"id":"25f73364.48a2fc","type":"function","z":"d02ccc4f.07aaf","name":"measure end","func":"var chatId=flow.get(\"chatId\");\nmsg1={};\nif (chatId==msg.payload.chatId){\n    flow.set(\"measure\",false);\n    msg1.payload = {\n  \"content\":\" I have analyzed the measurements.📝\"+ \" \\n\" + \" \\n\" + \"I can show you the analysis if you write /results\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n}\nelse\n{\n    msg1.payload = {\n  \"content\":\"Another measure is on going, please wait a few minutes and try again\",\n  \"chatId\" : 0,\n  \"type\" : \"message\"\n    }\n}\nreturn msg1;\n","outputs":1,"noerr":0,"x":250,"y":780,"wires":[["9b121c3e.d2f44","1eb78fdf.55b6a"]]},{"id":"22fde678.9c76aa","type":"telegram command","z":"d02ccc4f.07aaf","name":"","command":"/results","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":880,"wires":[["a6d8bb43.fe02f8","50642b8a.c3ae74"],[]]},{"id":"a6d8bb43.fe02f8","type":"function","z":"d02ccc4f.07aaf","name":"Show Results","func":"var T = flow.get(\"T_mean\");\nvar RH = flow.get(\"RH_mean\");\nvar P = flow.get(\"P_mean\");\nvar Gr = flow.get(\"Gr_mean\");\nvar AIQ = flow.get(\"AIQ_mean\");\nvar chatId = flow.get(\"chatId\");\n\nmsg1={};\nmsg2={};\nmsg3={};\nmsg4={};\nmsg5={};\nmsg6={};\n\n\nif (AIQ < 50)\n{\n    text=\". The air quality is ✅  GOOD. \";  \n}\n    \nelse if ((AIQ >51) & (AIQ<150)){\n    text=\". The air quality is 🟠 MODERATE.\";\n}\nelse if(AIQ > 151){\n    text=\". ‼️THE AIR QUALITY IS  ☣ UNHEALTHY!!\"+ \" \\n\"  +\"YOU NEED TO OPEN THE WINDOWS.\";\n}\n\n\n\nmsg1.payload = {\n    \"content\":  \"🌡Temperature of your the room: \" + T + \" ºC\",\n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nmsg2.payload = {\n    \"content\":  \"💧 Humidity of the room is: \" + RH + \" %\",\n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nmsg3.payload = {\n    \"content\":  \"🌫Pressure: \" + P + \" atm\",\n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nmsg4.payload = {\n    \"content\":  \"💨 Volatile organic compounds: \" + Gr + \" KOhms\",\n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nmsg5.payload = {\n    \"content\":  \"📶 Air Quality: \" + parseInt(AIQ) + text,\n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nreturn [msg1,msg2,msg3,msg4,msg5];\n","outputs":6,"noerr":0,"x":300,"y":980,"wires":[["cd23350b.14c0f8"],["cd23350b.14c0f8"],["cd23350b.14c0f8"],["cd23350b.14c0f8"],["cd23350b.14c0f8"],["cd23350b.14c0f8"]]},{"id":"9b121c3e.d2f44","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":440,"y":780,"wires":[[]]},{"id":"54864559.26baec","type":"telegram command","z":"d02ccc4f.07aaf","name":"instructions","command":"/instructions","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":80,"y":100,"wires":[["45d860ef.4763f"],[]]},{"id":"45d860ef.4763f","type":"function","z":"d02ccc4f.07aaf","name":"Introduction to the Bot","func":"var chatId=msg.payload.chatId;\n\nvar text=\"Hello, my name is AirQuality_BME680 and I'm here to analyse the air of a room.\" + \" \\n\" + \" \\n\" + \" \\n\";\nvar text1=\"Here are the steps you need to follow if you want use me:\" + \" \\n\" + \" \\n\";\nvar text2=\"1-Write /measure, space and the NAME of the room (only 1 word, key sensitive).\"+ \" \\n\" + \" \\n\";\nvar text3=\"2-Wait while the sensor is measuring the room. You can decide the duration of the measurement.\"+ \" \\n\" + \" \\n\";\nvar text4=\"3-Write /end to finish the measurement and analyse the results.\"+ \" \\n\" + \" \\n\";\nvar text5=\"4-Write /results if you want to see the results of the measurement.\"+ \" \\n\" + \" \\n\" + \" \\n\";\n\nvar text6=\"Also, you can subscribe to any of the following parameters and receive data in real time, every second:\" + \" \\n\" + \" \\n\" + \"➡/temp, /humidity, /gas, /pressure, /iaq.️⬅️\"+ \" \\n\" + \" \\n\";\nvar text7=\"If you want to end the subscription, just write /endsubs.\";\n\nmsg1={};\nmsg1.payload = {\n    \"content\": text + text1 + text2 + text3 + text4 + text5+text6+text7, \n    \"type\" : \"message\",\n    \"chatId\" : chatId,\n}\n\nreturn msg1;","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["d21b9d86.b9457"]]},{"id":"d21b9d86.b9457","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":610,"y":120,"wires":[[]]},{"id":"e88944fe.ad5b38","type":"telegram command","z":"d02ccc4f.07aaf","name":"start","command":"/start","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":160,"wires":[["45d860ef.4763f"],[]]},{"id":"7de72c8f.6de9d4","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":450,"y":240,"wires":[[]]},{"id":"50642b8a.c3ae74","type":"function","z":"d02ccc4f.07aaf","name":"Query delete","func":"var name=flow.get(\"name\");\nmsg.query=\"delete from m26_AIQBME680_\"+name;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":880,"wires":[["bb8a812c.57977"]]},{"id":"bb8a812c.57977","type":"influxdb in","z":"d02ccc4f.07aaf","influxdb":"561d76c4.2f21b8","name":"","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":580,"y":880,"wires":[[]]},{"id":"60108918.9c9c48","type":"telegram command","z":"d02ccc4f.07aaf","name":"/temp","command":"/temp","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":1140,"wires":[["2c27c9f0.4f3036"],[]]},{"id":"2c27c9f0.4f3036","type":"function","z":"d02ccc4f.07aaf","name":"subscribe","func":"msg1={};\nvar chatId=msg.payload.chatId;\nflow.set(\"chatId_temp\",chatId);\nmsg1.payload = {\n  \"content\":\" You have been susbcribed to topic TEMPERATURE 🌡. You will receive the values published on this topic every second.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\nflow.set(\"temp_subs\",true);\nreturn msg1;\n","outputs":1,"noerr":0,"x":310,"y":1100,"wires":[["959a5fb3.c4d85"]]},{"id":"959a5fb3.c4d85","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":490,"y":1100,"wires":[[]]},{"id":"48667de4.6f0804","type":"function","z":"d02ccc4f.07aaf","name":"temp value","func":"var chatId=flow.get(\"chatId_temp\");\nvar subs = flow.get(\"temp_subs\");\nmsg1={};\n    msg1.payload = {\n  \"content\": msg.payload + \" ºC\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n\nif (subs === true){\nreturn msg1;\n}\n","outputs":1,"noerr":0,"x":390,"y":1820,"wires":[["a047c1a7.e49b2"]]},{"id":"a047c1a7.e49b2","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":590,"y":1820,"wires":[[]]},{"id":"9cf32266.9006e","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/tempReq","qos":"","retain":"","broker":"b20d4f92.46248","x":630,"y":1500,"wires":[]},{"id":"63afbabe.d2de44","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/temp","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":110,"y":1820,"wires":[["48667de4.6f0804"]]},{"id":"3098f1a0.5794ee","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/pressureReq","qos":"","retain":"","broker":"b20d4f92.46248","x":640,"y":1560,"wires":[]},{"id":"2d08c0fd.523bd","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/rhReq","qos":"","retain":"","broker":"b20d4f92.46248","x":620,"y":1620,"wires":[]},{"id":"8afdfb2f.508b18","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/gasReq","qos":"","retain":"","broker":"b20d4f92.46248","x":620,"y":1680,"wires":[]},{"id":"27aa3301.970bdc","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/aiqReq","qos":"","retain":"","broker":"b20d4f92.46248","x":610,"y":1740,"wires":[]},{"id":"9152a478.792338","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/pressure","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":130,"y":1880,"wires":[["a8b9a38c.6de82"]]},{"id":"ed9f171.33a0ae8","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/gas","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":120,"y":1940,"wires":[["aafd6130.5ce12"]]},{"id":"f39350d8.3d00d","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/aiq","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":120,"y":2000,"wires":[["c1479590.f8bea8"]]},{"id":"f4428e12.1c5fb","type":"mqtt in","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/rh","qos":"2","datatype":"auto","broker":"b20d4f92.46248","x":110,"y":2060,"wires":[["cd27a3c3.3f72a"]]},{"id":"3d647cf3.01a834","type":"inject","z":"d02ccc4f.07aaf","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":1640,"wires":[["76401f41.d8e5","e843a29a.f796e","a0086040.e0704","5a850e26.434cd","77032b1b.a56d24"]]},{"id":"76401f41.d8e5","type":"function","z":"d02ccc4f.07aaf","name":"temp subsciption","func":"var temp = flow.get(\"temp_subs\");\nif (temp === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":340,"y":1500,"wires":[["9cf32266.9006e"]]},{"id":"5d8a5e2d.fea5c","type":"telegram command","z":"d02ccc4f.07aaf","name":"/end subs","command":"/endsubs","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":80,"y":1440,"wires":[["f1a324a.91b36d8"],[]]},{"id":"f1a324a.91b36d8","type":"function","z":"d02ccc4f.07aaf","name":"end subscription","func":"msg1={};\n\nvar chatId=msg.payload.chatId;\n\n\nflow.set(\"temp_subs\",false);\nflow.set(\"pressure_subs\",false);\nflow.set(\"humidity_subs\",false);\nflow.set(\"gas_subs\",false);\nflow.set(\"aiq_subs\",false);\n\nmsg1.payload = {\n  \"content\":\" You have been unsusbcribed. You will no longer receive publications.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\n\nreturn msg1;\n","outputs":1,"noerr":0,"x":320,"y":1400,"wires":[["61a8f667.0fbd98"]]},{"id":"61a8f667.0fbd98","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":520,"y":1400,"wires":[[]]},{"id":"a8b9a38c.6de82","type":"function","z":"d02ccc4f.07aaf","name":"pressure value","func":"var chatId=flow.get(\"chatId_pressure\");\nvar subs = flow.get(\"pressure_subs\");\nmsg1={};\n    msg1.payload = {\n  \"content\": msg.payload + \" atm\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n\nif (subs === true){\nreturn msg1;\n}\n","outputs":1,"noerr":0,"x":380,"y":1880,"wires":[["9a4734a7.11c498"]]},{"id":"9a4734a7.11c498","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":590,"y":1880,"wires":[[]]},{"id":"aafd6130.5ce12","type":"function","z":"d02ccc4f.07aaf","name":"gas value","func":"var chatId=flow.get(\"chatId_gas\");\nvar subs = flow.get(\"gas_subs\");\nmsg1={};\n    msg1.payload = {\n  \"content\": msg.payload + \" KOhms\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n\nif (subs === true){\nreturn msg1;\n}\n","outputs":1,"noerr":0,"x":380,"y":1940,"wires":[["a3e7f327.17959"]]},{"id":"a3e7f327.17959","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":590,"y":1940,"wires":[[]]},{"id":"c1479590.f8bea8","type":"function","z":"d02ccc4f.07aaf","name":"aiq value","func":"var chatId=flow.get(\"chatId_aiq\");\nvar subs = flow.get(\"aiq_subs\");\nvar AIQ = parseInt(msg.payload);\n\nif (AIQ < 50)\n{\n    text=\" ✅  GOOD. \";  \n}\n    \nelse if ((AIQ >51) & (AIQ<150)){\n    text=\"🟠 MODERATE.\";\n}\nelse if(AIQ > 151){\n    text=\"‼☣ UNHEALTHY, OPEN THE WINDOWS!!\";\n}\n\n\nmsg1={};\n    msg1.payload = {\n  \"content\": AIQ + text,\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n\nif (subs === true){\nreturn msg1;\n}\n","outputs":1,"noerr":0,"x":390,"y":2000,"wires":[["ede66d1e.9e8f2"]]},{"id":"ede66d1e.9e8f2","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":590,"y":2000,"wires":[[]]},{"id":"cd27a3c3.3f72a","type":"function","z":"d02ccc4f.07aaf","name":"humidity value","func":"var chatId=flow.get(\"chatId_humidity\");\nvar subs = flow.get(\"humidity_subs\");\nmsg1={};\n    msg1.payload = {\n  \"content\": msg.payload + \" %\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n    }\n\nif (subs === true){\nreturn msg1;\n}\n","outputs":1,"noerr":0,"x":400,"y":2060,"wires":[["680bbe92.2cb47"]]},{"id":"680bbe92.2cb47","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":590,"y":2060,"wires":[[]]},{"id":"e843a29a.f796e","type":"function","z":"d02ccc4f.07aaf","name":"pressure subsciption","func":"var temp = flow.get(\"pressure_subs\");\nif (temp === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1560,"wires":[["3098f1a0.5794ee"]]},{"id":"a0086040.e0704","type":"function","z":"d02ccc4f.07aaf","name":"humidity subsciption","func":"var temp = flow.get(\"humidity_subs\");\nif (temp === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":350,"y":1620,"wires":[["2d08c0fd.523bd"]]},{"id":"5a850e26.434cd","type":"function","z":"d02ccc4f.07aaf","name":"gas subsciption","func":"var temp = flow.get(\"gas_subs\");\nif (temp === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":330,"y":1680,"wires":[["8afdfb2f.508b18"]]},{"id":"77032b1b.a56d24","type":"function","z":"d02ccc4f.07aaf","name":"aiq subsciption","func":"var aiq = flow.get(\"aiq_subs\");\nif (aiq === true){\n    return msg;\n}\n","outputs":1,"noerr":0,"x":340,"y":1740,"wires":[["27aa3301.970bdc"]]},{"id":"905fe49.fe95518","type":"telegram command","z":"d02ccc4f.07aaf","name":"/pressure","command":"/pressure","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":80,"y":1200,"wires":[["154df4d7.80ef0b"],[]]},{"id":"154df4d7.80ef0b","type":"function","z":"d02ccc4f.07aaf","name":"subscribe","func":"msg1={};\nvar chatId=msg.payload.chatId;\nflow.set(\"chatId_pressure\",chatId);\nmsg1.payload = {\n  \"content\":\" You have been susbcribed to topic PRESSURE 🌫. You will receive the values published on this topic every second.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\nflow.set(\"pressure_subs\",true);\nreturn msg1;\n","outputs":1,"noerr":0,"x":310,"y":1160,"wires":[["4022c6b9.956138"]]},{"id":"4022c6b9.956138","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":490,"y":1160,"wires":[[]]},{"id":"233a2eed.873212","type":"telegram command","z":"d02ccc4f.07aaf","name":"/humidity","command":"/humidity","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":80,"y":1260,"wires":[["6fb1dc19.e259b4"],[]]},{"id":"6fb1dc19.e259b4","type":"function","z":"d02ccc4f.07aaf","name":"subscribe","func":"msg1={};\nvar chatId=msg.payload.chatId;\nflow.set(\"chatId_humidity\",chatId);\nmsg1.payload = {\n  \"content\":\" You have been susbcribed to topic HUMIDITY 💧. You will receive the values published on this topic every second.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\nflow.set(\"humidity_subs\",true);\nreturn msg1;\n","outputs":1,"noerr":0,"x":310,"y":1220,"wires":[["5158363c.566ce8"]]},{"id":"5158363c.566ce8","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":490,"y":1220,"wires":[[]]},{"id":"1bb8444b.87a9cc","type":"telegram command","z":"d02ccc4f.07aaf","name":"/gas","command":"/gas","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":1320,"wires":[["b9dd8de6.c1d83"],[]]},{"id":"b9dd8de6.c1d83","type":"function","z":"d02ccc4f.07aaf","name":"subscribe","func":"msg1={};\nvar chatId=msg.payload.chatId;\nflow.set(\"chatId_gas\",chatId);\nmsg1.payload = {\n  \"content\":\" You have been susbcribed to topic Volatile Organic Compounds 💨. You will receive the values published on this topic every second.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\nflow.set(\"gas_subs\",true);\nreturn msg1;\n","outputs":1,"noerr":0,"x":310,"y":1280,"wires":[["dcee2efd.3a7e6"]]},{"id":"dcee2efd.3a7e6","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":490,"y":1280,"wires":[[]]},{"id":"b5bb15a1.5b4d08","type":"telegram command","z":"d02ccc4f.07aaf","name":"/aiq","command":"/aiq","bot":"7c9793f4.cbd72c","strict":false,"hasresponse":true,"x":70,"y":1380,"wires":[["8fa729ce.54a4f8"],[]]},{"id":"8fa729ce.54a4f8","type":"function","z":"d02ccc4f.07aaf","name":"subscribe","func":"msg1={};\nvar chatId=msg.payload.chatId;\nflow.set(\"chatId_aiq\",chatId);\nmsg1.payload = {\n  \"content\":\" You have been susbcribed to topic 📶 Air Quality. You will receive the values published on this topic every second.\",\n  \"chatId\" : chatId,\n  \"type\" : \"message\"\n}\nflow.set(\"aiq_subs\",true);\nreturn msg1;\n","outputs":1,"noerr":0,"x":310,"y":1340,"wires":[["2683763a.182b7a"]]},{"id":"2683763a.182b7a","type":"telegram sender","z":"d02ccc4f.07aaf","name":"","bot":"7c9793f4.cbd72c","x":490,"y":1340,"wires":[[]]},{"id":"24c93a02.2bc486","type":"inject","z":"d02ccc4f.07aaf","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":340,"wires":[["778d45e5.6034bc"]]},{"id":"83c39cda.797df","type":"mqtt out","z":"d02ccc4f.07aaf","name":"","topic":"/246F28AB2E40/jsonReq","qos":"","retain":"","broker":"b20d4f92.46248","x":510,"y":340,"wires":[]},{"id":"b20d4f92.46248","type":"mqtt-broker","z":"","name":"","broker":"iot.siarq.net","port":"8883","tls":"","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"561d76c4.2f21b8","type":"influxdb","z":"","hostname":"vps656540.ovh.net","port":"8086","protocol":"http","database":"aulaVirtual2020","name":"","usetls":false,"tls":""},{"id":"50180e58.c63fb","type":"ui_group","z":"","name":"Ambiente","tab":"74bc7bbd.8bed54","order":2,"disp":true,"width":"6","collapse":false},{"id":"57d1a014.25301","type":"ui_group","z":"","name":"Aliento","tab":"74bc7bbd.8bed54","order":2,"disp":true,"width":"6","collapse":false},{"id":"d6abe9a2.eddc48","type":"ui_group","z":"","name":"Tabla","tab":"74bc7bbd.8bed54","order":4,"disp":true,"width":"10","collapse":false},{"id":"7c9793f4.cbd72c","type":"telegram bot","z":"","botname":"@AIQBME680bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"74bc7bbd.8bed54","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false}]